<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
  
    <span th:fragment="header" alt="Kids Home Work Web-Site">
        <span style="font-size:220%;font-weight:bold;color:#ff0000">K</span>
        <span style="font-size:220%;font-weight:bold;color:#ff7f00">i</span>
        <span style="font-size:220%;font-weight:bold;color:#ffff00">d</span>
        <span style="font-size:220%;font-weight:bold;color:#00ff00">s</span>
        <span style="font-size:220%;font-weight:bold;color:#0000ff">&nbsp;</span>
        <span style="font-size:220%;font-weight:bold;color:#0000ff">H</span>
        <span style="font-size:220%;font-weight:bold;color:#4b0082">o</span>
        <span style="font-size:220%;font-weight:bold;color:#9400d3">m</span>
        <span style="font-size:220%;font-weight:bold;color:#ff0000">e</span>
        <span style="font-size:220%;font-weight:bold;color:#000000">&nbsp;</span>
        <span style="font-size:220%;font-weight:bold;color:#ff7f00">W</span>
        <span style="font-size:220%;font-weight:bold;color:#ffff00">o</span>
        <span style="font-size:220%;font-weight:bold;color:#00ff00">r</span>
        <span style="font-size:220%;font-weight:bold;color:#0000ff">k</span>
        <span style="font-size:220%;font-weight:bold;color:#0000ff">&nbsp;</span>
        <span style="font-size:220%;font-weight:bold;color:#4b0082">W</span>
        <span style="font-size:220%;font-weight:bold;color:#9400d3">e</span>
        <span style="font-size:220%;font-weight:bold;color:#ff0000">b</span>
        <span style="font-size:220%;font-weight:bold;color:#ff7f00">-</span>
        <span style="font-size:220%;font-weight:bold;color:#ffff00">S</span>
        <span style="font-size:220%;font-weight:bold;color:#00ff00">i</span>
        <span style="font-size:220%;font-weight:bold;color:#0000ff">t</span>
        <span style="font-size:220%;font-weight:bold;color:#4b0082">e</span>
    </span>
  
  </body>
</html>

