<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
  <body>
  
    <span th:fragment="loginbar" align="right">                    
            <span sec:authorize="isAuthenticated()" align="right">
              Logged-in as: <span sec:authentication="name"></span>&nbsp;<a th:href="@{logout}">Logout</a>
            </span>
            <span sec:authorize="isAnonymous()" align="right">
              Not logged-in &nbsp;<a th:href="@{login}">Login</a>&nbsp;<a th:href="@{register}">Register</a>
            </span>                     
    </span>
  
  </body>
</html>





