<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
  <body>
  
    <span th:fragment="loginbar" align="right">                    
            <span sec:authorize="isAuthenticated()" align="right">
              Logged-in as: <span sec:authentication="name" style="font-weight: bold;"></span>;&nbsp;   
              <form method="POST" th:action="@{/logout}" class="inline">
                <button type="submit" class="link-button">
                  Logout
                </button>
              </form>
            </span>
            <span sec:authorize="isAnonymous()" align="right">
              Not logged-in &nbsp;<a th:href="@{login}">Login</a>;&nbsp;<a th:href="@{register}">Register</a>
            </span>                     
    </span>
  
  </body>
</html>





