<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/baseLayout :: head(~{::title})"> 
    <title>SchoolShorts: Home page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <span th:replace="fragments/baseLayout :: body(~{::#content})">
        <span id="content">
            <h3>Home Page</h3><p>Hello!</p>
            <div><p>You can practice your drawing and do times table questions here. Look below for useful tools.</p></div>
            <h4>Grade 1 and 2</h4>
            <div><a href="drawingpageLink">Drawing practice (Registration needed)</a></div>
            <div><a href="countingtableLink">Counting Tables</a></div>
            <h4>Grade 3 and 4</h4>
            <div><a href="timestableLink">Multiplication times tables</a></div>
            <div><a href="randomtimestableLink">Mixed times table questions</a></div>
            <h4>Register</h4>
            <div><a href="persistanceFormLink">Register e-mail address</a></div>
            <div><a href="./helloworld">Hello World Servlet</a></div>

            
            <h4>Attributions</h4>
            <div>
              <ul>
                 <li>Website Icon (<img src="favicon.ico" width="16px" height="16px" alt="Icon image" />) School Icon - Suman Kaur <a href="https://freeicons.io/school-icon/school-icon-534926#">https://freeicons.io/school-icon/school-icon-534926#</a></li>
              </ul>     
            </div>
        </span>
    </span>
</body>
</html>
