<!DOCTYPE html>
<html>
    <head>
        <title>Static Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>School Shorts - Home</h2>
        <div>School Shorts Home page</div>
        <div><a href="./helloworld">Hello World Servlet</a></div>
        <div><a href="./baseLayout">BaseLayout Link</a></div>
        <div><h3>Attributions</h3>
            <p>Website Icon: School Icon - Suman Kaur <a href="https://freeicons.io/school-icon/school-icon-534926#">https://freeicons.io/school-icon/school-icon-534926#</a></p>
        </div>
    </body>
</html>
